<!DOCTYPE html>
<link rel="stylesheet" href="css/skyblue.css">
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/vue"></script>
<style>
td {
  padding: 4px;
  line-height: 1.0em;
  white-space: pre;
}
</style>

<h1>form</h1>
<div id="data"></div>
<form action="main/index.php?method=issues" method="POST">
  <input name="title" /><br>
  <textarea name="description" ></textarea><br>
  <input type="submit" /><br>
</form>


<form action="main/index.php?method=messages" method="POST">
  <input name="issue_id" /><br>
  <textarea name="message_description" ></textarea><br>
  <input type="submit" /><br>
</form>

<div id="app">
  <table class="table">
    <tr><th>#</th><th>件名</th><th>状態</th></tr>
  <tr v-for="issue in data">
    <td>{{ issue.issueId }}</td>
    <td>{{ issue.issueTitle }}</td>
    <td>{{ issue.issueStatus }}</td>
    <td><code>{{ issue.issueDescription }}</code><div>{{ issue.userId }} {{issue.issueCreateDateTime}}</div></td>
    <td v-for="message in issue.messages">
      <code>{{ message.messageDescription }}</code><div>{{ message.userId }}</div>
    </td>

  </tr>
  <tr>
    <form action="main/index.php?method=issues" method="POST">
    <td>ADD</td>
    <td><input name="title" /></td>
    <td><textarea name="message_description" ></textarea></td>
    <td><input class="btn" type="submit" /></td>
    </from>
  </tr>
</table>
</div>


<script>
var models = {
  data: []
}
var app = new Vue({
  el: '#app',
  data: models
})


axios.get('http://localhost:8080/main/index.php?method=all')
  .then(function (response) {
    var result = response.data.result;

    models.data = result;
    console.log(result);
    // メッセージ数の最大
  })
  .catch(function (error) {
    console.log(error);
  });
</script>
